<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a href="index.php" class="d-flex align-items-center text-dark text-decoration-none">
    <img src="img/icon.png" width="30px" height="30px"> &nbsp;
    <span class="fs-4">FW & Dev</span>
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" href="gestion_cat.php">Gérer Catégories</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="gestion_art.php">Gérer Articles</a>
    <a class="py-2 text-dark text-decoration-none" href="#"></a>
  </nav>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Blog FW & Dev </h1>
  <p class="fs-5 text-muted"></p>
</div>